**Importing Libraries**

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns

**Reading Dataset :**

In [30]:
data = pd.read_csv('D:\coding\ML_Assignments/Heart.csv')

**Display First 5 rows :**

In [31]:
data.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

**Display Last 5 rows :**

In [6]:
data.tail()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

**Dimension of the Dataset :**

In [7]:
data.shape

(303, 15)

**Detail Information of the Dataset :**

In [32]:
data.describe()

,Unnamed: 0,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,299.000000
mean,152.000000,54.438944,0.679868,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.672241
std,87.612784,9.038662,0.467299,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.937438
min,1.000000,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,76.500000,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000
50%,152.000000,56.000000,1.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,227.500000,61.000000,1.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000
max,303.000000,77.000000,1.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000

**Columns name from the dataset :**

In [9]:
data.columns

Index(['Unnamed: 0', 'Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs',
       'RestECG', 'MaxHR', 'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'AHD'],
      dtype='object')

**Rename Columns name :**

In [33]:
data.rename(columns={'Sex': 'Gender'},inplace =True)
data.head()

,Unnamed: 0,Age,Gender,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

**Get number of NULL values in the Dataset :**

In [34]:
data.isnull().sum()

Unnamed: 0    0
Age           0
Gender        0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

**DataType of all the column in the dataset**

In [35]:
data.dtypes

Unnamed: 0      int64
Age             int64
Gender          int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

**Minimum age from the dataset**

In [36]:
data["Age"].min()

29

**Max age from the**

In [14]:
data["Age"].max()

77

**Mean of the ages from the dataset**

In [15]:
data["Age"].mean()

54.43894389438944

In [16]:
data["Gender"].replace([0,1],["Male","Female"], inplace=True)

In [17]:
data.head()

,Unnamed: 0,Age,Gender,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,Female,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,Female,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,Female,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,Female,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,Male,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

**Remove any Column and Row from the dataset**

In [37]:
data = data.drop('Unnamed: 0', axis=1)

In [38]:
data

,Age,Gender,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

**Training , Testing and Splitting Of Data**

In [39]:
from sklearn.model_selection import train_test_split
x = data[["ChestPain","RestBP","Chol"]]
y = data["AHD"]
X_train , X_test, Y_train , Y_test = train_test_split(x,y,test_size=0.3)

In [40]:
X_train

        ChestPain  RestBP  Chol
176  asymptomatic     108   233
102  asymptomatic     128   303
276    nonanginal     146   278
173  asymptomatic     140   394
221    nonanginal     108   267
..            ...     ...   ...
26     nonanginal     120   340
240    nontypical     110   235
76   asymptomatic     125   258
2    asymptomatic     120   229
7    asymptomatic     120   354

[212 rows x 3 columns]

In [41]:
Y_train

176     No
102     No
276     No
173     No
221     No
      ...
26      No
240     No
76     Yes
2      Yes
7       No
Name: AHD, Length: 212, dtype: object

In [42]:
X_test

        ChestPain  RestBP  Chol
157  asymptomatic     125   300
87     nonanginal     128   216
185    nontypical     140   195
101       typical     118   182
226  asymptomatic     112   204
..            ...     ...   ...
111  asymptomatic     125   249
60   asymptomatic     130   305
220    nonanginal     112   268
50     nontypical     105   198
14     nonanginal     172   199

[91 rows x 3 columns]

In [43]:
Y_test

157    Yes
87      No
185     No
101     No
226     No
      ...
111    Yes
60     Yes
220     No
50      No
14      No
Name: AHD, Length: 91, dtype: object